<div class="medium-12 columns content_homepg_section">
  <!-- banner_image_content -->
  <div class="img_banner">
    <div class="banner_section_inner">
      <div class="main_inner_content">
        <div class="inner_layer">
          <div class="banner_content">
            <div class="banner_header">Heng Origen</div>
            <div class="banner_minor_header">construction cost and project management</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- banner_image_content -->

  <div class="clear"></div>

  <div class="content_main_section">
    <!-- sub_content: our company -->
    <div class="sub_content sub_content_company ho_home">
      <div class="sub_inner_content sub_inner_content_company backgrd_shade_dark"></div>
      <div class="sub_content_cover">
        <div class="sub_content_text shade_content_dark">
          <div class="header">our company</div>

          <div class="content_info"></div>

          <div class="content_info">At HENG ORIGEN, we strive to build strong relationships by understanding the challenges that our clients face, sharing their vision and helping them accomplish their project and business goals and objectives through our industry awareness, practical industry and business technical knowledge utilising the latest technology. </div>

          <div class="content_info">We provide Advisory, Cost and Project management consultancy services to the construction industry across the United Kingdom, Europe, the USA and Africa. We pride ourselves on giving our clients a high level and tailor-made service. Our clients often note the passion and knowledge with which our consultants address their project and business needs. </div>

          <div class="content_info">Our team has established a reputation of excellence, often exceeding client’s expectations and doing things right the first time. Working in partnership with developers, investors, owners, occupiers and contractors our goal is to build a relationship of trust through prompt, reliable and proactive approach in everything we do. Consequently, our number one source for work is repeat business and referrals from current and previous clients.</div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <!-- sub_content -->

    <!-- sub_content: about_us -->
    <div class="sub_content sub_content_aboutus ho_aboutus">
      <div class="sub_inner_content sub_inner_content_service backgrd_shade_light"></div>
      <div class="sub_content_cover">
        <div class="sub_content_text text_info_content">
          <div class="header">about us</div>

          <div class="content_info">HENG ORIGEN is a Cost and Project Management Consultancy firm serving the construction industry across the United Kingdom, Europe, the USA and Africa.  We take pride in employing local people with very specific experience and expertise backed by our global support network. Our team has over 20 years of experience in the industry, maintaining a tradition of high quality service and uncompromising integrity.</div>

          <div class="content_info">Our innovative and proactive solutions help us deliver projects on time and within budget. HENG ORIGEN consultants have extensive, hands-on experience supporting a multitude of projects worldwide. Our diverse backgrounds allow us to offer our clients unique solutions tailor-made to their specific requirements and specific project challenges.</div>

          <div class="content_info">The HENG ORIGEN team has experience working on all types of construction projects, including but not limited to residential and commercial buildings, educational buildings, industrial buildings, sporting facilities and retail outlets. </div>


          <div class="content_info">Our team is proud of past performances and satisfied clients, and we continue to strive to provide the highest level of service, combining innovation and technical proficiency with positive attitude and hard work.</div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <!-- sub_content -->

    <!-- sub_content: our mission_culture -->
    <div class="sub_content sub_content_mission ho_mission">
      <div class="sub_inner_content sub_inner_content_mission backgrd_shade_dark"></div>
      <div class="sub_content_cover">
        <div class="sub_content_text shade_content_dark">
          <div class="header hide">our company</div>

          <div class="content_info"></div>

          <div class="content_info content_sub_text">
            <b class="bold_text">culture</b>
            <span class="">We are governed by our core values instilled through our culture. At the heart of HENG ORIGEN’s culture is putting stakeholders at the centre of the project before anything else and our focus on improving our client’s results. Continual improvement is not only something we instil with our clients but is embodied within our employee’s careers and company goals.  </span>
          </div>

          <div class="content_info content_sub_text">
            <b class="bold_text">our vision</b>
            <span class="">Our vision is to be a sought-after global and sustainable business partner providing excellent and unique consultancy services and peace of mind to both our clients and employees.</span>
          </div>

          <div class="content_info content_sub_text">
            <b class="bold_text">Our Values</b>
            <div class="">Our framework is built on:- </div>
            <ul>
              <li>integrity</li>
              <li>honesty </li>
              <li>accountability</li>
              <li>collaborative</li>
              <li>sustainability</li>
            </ul>
          </div>

          <div class="content_info content_sub_text">
            <div><b class="bold_text">Mission Statement</b></div>
            <div class="set_box">
              <span class="minor_header">to our clients</span>
              <span>Offer value added and cost-effective services to achieve strategic goals and objectives through the innovative application of operational excellence principles.</span>
            </div>

            <div class="set_box">
              <span class="minor_header">to our employees</span>
              <span>Commit to personal growth within a stable and rewarding working environment.</span>
            </div>

            <div class="set_box">
              <span class="minor_header">industry</span>
              <span>Improve current practices and identify new means, methods and technologies for industry professionals to follow.</span>
            </div>

            <div class="set_box">
              <span class="minor_header">community</span>
              <span>Seek opportunities to work for worthy causes within our communities.</span>
            </div>

            <div class="set_box">
              <span class="minor_header">environment</span>
              <span>Environment Implement conscience minded decisions to mitigate the impact of the built environment.</span>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="clear"></div>
    <!-- sub_content -->

    <!-- sub_content: team-members -->
    <div class="sub_content sub_content_team ho_ourteam">
      <div class="sub_inner_content sub_inner_content_team backgrd_shade_light"></div>
      <div class="sub_content_cover">
        <div class="sub_content_text shade_content_light">
          <div class="header">leadership team</div>
          <div class="content_info">
            <div class="team_members">

              <!-- team_member -->
              <div class="medium-3 columns member_info_conetnt">
                <div class="member_outter_cover">
                  <div class="member_inner_cover">
                    <a href="#" data-reveal-id="team-member-01">
                      <div><%= image_tag("img_team_default.png") %></div>
                      <div class="text_info">
                        <div class="title">lorem ipsum</div>
                        <div class="role">Principal and Chief Operating Officer</div>
                      </div>
                    </a>
                  </div>
                  <div><%= render 'shared/modal_team_member_01' %></div>
                </div>
              </div>

              <!-- team_member -->
              <div class="medium-3 columns member_info_conetnt">
                <div class="member_outter_cover">
                  <div class="member_inner_cover">
                    <a href="#" data-reveal-id="myModal-team-member-02">
                      <div><%= image_tag("img_team_default.png") %></div>
                      <div class="text_info">
                        <div class="title">lorem ipsum</div>
                        <div class="role">Principal and President</div>
                      </div>
                    </a>
                  </div>
                  <div><%= render 'shared/modal_team_member_02' %></div>
                </div>
              </div>

              <!-- team_member -->
              <div class="medium-3 columns member_info_conetnt">
                <div class="member_outter_cover">
                  <div class="member_inner_cover">
                    <a href="#" data-reveal-id="myModal-team-member-03">
                      <div><%= image_tag("img_team_default.png") %></div>
                      <div class="text_info">
                        <div class="title">lorem ipsum</div>
                        <div class="role">Principal and Director of Project Management</div>
                      </div>
                    </a>
                  </div>
                  <div><%= render 'shared/modal_team_member_03' %></div>
                </div>
              </div>

              <!-- team_member -->
              <div class="medium-3 columns member_info_conetnt">
                <div class="member_outter_cover">
                  <div class="member_inner_cover">
                    <a href="#" data-reveal-id="myModal-team-member-04">
                      <div><%= image_tag("img_team_default.png") %></div>
                      <div class="text_info">
                        <div class="title">lorem ipsum</div>
                        <div class="role">Principal and Director of Construction</div>
                      </div>
                    </a>
                  </div>
                  <div><%= render 'shared/modal_team_member_04' %></div>
                </div>
              </div>
            </div>

            <div class="clear"></div>

            <div class="team_text">
              <div class="sub_text">For more than 20 years, HENG ORIGEN’s executives have been advising clients on construction projects across the globe. Our consultants have added value to our clients’ projects through all phases of construction.</div>

              <div class="sub_text">Our primary resource is our exceptional talent of technical construction and engineering consultants who provide team-oriented services on an as needed basis. Our employees and our alliances with other key individuals and organizations allow us to support clients in matters involving construction. We believe in demonstrating a “one team” attitude and are led by our team of executives across HENG ORIGEN’s offices.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <!-- sub_content -->

    <!-- sub_content: portfolio -->
    <div class="sub_content sub_content_project ho_projects">
      <div class="sub_inner_content sub_inner_content_project backgrd_shade_dark"></div>
      <div class="sub_content_cover">
        <div class="sub_content_text shade_content_dark">
          <div class="header">projects</div>
          <div class="project_sub_header">HENG ORIGEN’s consultants have assisted clients on a multitude of projects covering the main construction industry sectors: high end residential, high rise apartments, individual housing units, commercial, retail, education, hospitality and education. </div>

          <div class="project_sub_header">Our clients are developers, investors, owners, occupiers and contractors and our goal is to build a relationship of trust through prompt, reliable and proactive approach in everything we do.</div>
          <div class="content_info">
            <div class="project_list">

              <!-- project -->
              <div class="medium-4 columns project_info_conetnt">
                <%= link_to all_projects_ferry_lane_walthamston_path do %>
                <div class="img_shade_cover"><%= image_tag("img_project_shade.png") %></div>
                <div class="img_text">
                  <div class="img_title">ferry lane, walthamston</div>
                  <div class="img_text_info">build to rent</div>
                </div>
                <div class="img_cover"><%= image_tag("img_project_01.png") %></div>
                <% end %>
              </div>

              <!-- project -->
              <div class="medium-4 columns project_info_conetnt">
                <%= link_to all_projects_temple_quarter_bristol_path do %>
                <div class="img_shade_cover"><%= image_tag("img_project_shade.png") %></div>
                <div class="img_text">
                  <div class="img_title">temple quarter bristol</div>
                  <div class="img_text_info">build to rent</div>
                </div>
                <div class="img_cover"><%= image_tag("img_project_02.png") %></div>
                <% end %>
              </div>

              <!-- project -->
              <div class="medium-4 columns project_info_conetnt">
                <%= link_to all_projects_vantage_archway_tower_path do %>
                <div class="img_shade_cover"><%= image_tag("img_project_shade.png") %></div>
                <div class="img_text">
                  <div class="img_title">vantage archway tower</div>
                  <div class="img_text_info">build to rent</div>
                </div>
                <div class="img_cover"><%= image_tag("img_project_03.png") %></div>
                <% end %>
              </div>

              <!-- project -->
              <div class="medium-4 columns project_info_conetnt">
                <%= link_to all_projects_east_village_plot_path do %>
                <div class="img_shade_cover"><%= image_tag("img_project_shade.png") %></div>
                <div class="img_text">
                  <div class="img_title">east village plot</div>
                  <div class="img_text_info">build to rent</div>
                </div>
                <div class="img_cover"><%= image_tag("img_project_04.png") %></div>
                <% end %>
              </div>

              <!-- project -->
              <div class="medium-4 columns project_info_conetnt">
                <%= link_to all_projects_miles_street_vauxhaul_path do %>
                <div class="img_shade_cover"><%= image_tag("img_project_shade.png") %></div>
                <div class="img_text">
                  <div class="img_title">miles street vauxhaul</div>
                  <div class="img_text_info">build to rent</div>
                </div>
                <div class="img_cover"><%= image_tag("img_project_05.png") %></div>
                <% end %>
              </div>

              <!-- project -->
              <div class="medium-4 columns project_info_conetnt">
                <%= link_to all_projects_doven_house_street_path do %>
                <div class="img_shade_cover"><%= image_tag("img_project_shade.png") %></div>
                <div class="img_text">
                  <div class="img_title">doven house street</div>
                  <div class="img_text_info">build to rent</div>
                </div>
                <div class="img_cover"><%= image_tag("img_project_06.png") %></div>
                <% end %>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <!-- sub_content -->

    <!-- sub_content: service -->
    <div class="sub_content sub_content_service ho_service">
      <div class="sub_inner_content sub_inner_content_service backgrd_shade_light"></div>
      <div class="sub_content_cover">
        <div class="sub_content_text text_info_content">
          <div class="header">services</div>
          <div class="content_info">Our consultants are qualified and mostly members of The Royal Institution of Chartered Surveyors (RICS), Chartered Institute of Building (CIOB), Association of Project Managers (APM), Association of South African Quantity Surveyors (ASQS) and PRINCE 2. We have assisted a wide range of clients on numerous projects throughout the world. From front end planning and project management to construction claims providing  proactive and cost-effective project support for decades in one or more of the following:</div>
          <div class="services">
            <div class="service_inner_content">
              <div class="service_file"> 
                <%= link_to service_path do %>
                  <span><i class="fa fa-file-pdf-o" aria-hidden="true"></i></span>
                  <span class="file_text">view full service list</span>
                <% end %>
              </div> 
            </div> 
            <div class="sub_header listed_service">CONSTRUCTION COST MANAGEMENT</div>
            <div class="service_text listed_service">HENG ORIGEN provides construction cost management services at pre-contract and post-contract stages to ensure accurate budgets and cash flow projections thereby empowering our clients to make informed decisions. </div>

            <div class="service_text listed_service">Our professionals have the construction cost estimating experience to provide you with the necessary project estimates at different design stages to help get your project off the ground. Our initial Order of Cost Estimates are detailed enough to set accurate cost expectations from the beginning of the project.</div>

            <div class="service_text listed_service">Whether you are an owner, occupier, master planner, program manager, contractor, architect or project and construction manager, we are equipped to add value to your project and all the design stages, producing conceptual budgets, preliminary estimates, quantity take-offs, bid estimates or contract pricing.</div>

            <div class="medium-4 columns listed_service">
              <div class="sevice_list_header">pre-contract services</div>
              <ul>
                <li>Feasibility studies </li>
                <li>Conceptual Project Budget</li>
                <li>BIM measurement</li>
                <li>Whole-life cost appraisals</li>
                <li>Cost planning </li>
                <li>Procurement advice and strategies</li>
                <li>Contractor vetting and selection</li>
                <li>Tender preparation and management</li>
                <li>Tender Evaluation </li>
                <li>Value management</li>
                <li>Risk management</li>
                <li>Contract documents</li>
                <li>Contractor appointment </li>
              </ul>
            </div>
            <div class="medium-4 columns listed_service">
              <div class="sevice_list_header">Post-contract services</div>
              <ul>
                <li>Post-contract cost management</li>
                <li>Change Order Evaluations</li>
                <li>Claims Evaluation</li>
                <li>Out-turn cost reporting</li>
                <li>Final account agreement</li>
                <li>Project Closeout</li>
              </ul>
            </div>

            <div class="medium-4 columns listed_service">
              <div class="sevice_list_header">Specialist services</div>
              <ul>
                <li>Contract Administration</li>
                <li>Employer’s Agent</li>
                <li>Fund / Bank monitoring</li>
                <li>Independent cost audits</li>
                <li>Dilapidation cost advice</li>
                <li>Reinstatement cost assessments</li>
                <li>Construction Bid Estimates</li>
              </ul>
            </div>

            <div class="clear"></div>

            <div class="sub_header listed_service">PROJECT & CONSTRUCTION MANAGEMENT</div>
            <div class="service_text listed_service">HENG ORIGEN provides Project Management and Construction Management services. Built from PRINCE2 and APM platforms, our programme management approach ensures rigour from inception to completion. Our attitude is to get our job done efficiently, effectively, and timely through our effective leadership and communication and the application of proven management techniques.</div>

            <div class="service_text listed_service">Construction projects invariably entail a degree of complexity and have specific challenges that require specialist management and the effective management of four key dynamics:</div>

            <div class="service_text listed_service">
              <ul>
                <li>People</li>
                <li>Costs</li>
                <li>Timescales</li>
                <li>Quality</li>
              </ul>
            </div>

            <div class="service_text listed_service">Our project managers are experienced in delivering programmes of works that comprise multiple projects or work streams. We provide bespoke reporting, assist clients with decision-making and allows for auditable change management throughout.</div>

            <div class="medium-6 columns listed_service">
              <div class="sevice_list_header">Program Management </div>
              <ul>
                <li>Consultants Selection</li>
                <li>Contract Risk Management</li>
                <li>Constructability Reviews</li>
                <li>Value Engineering</li>
                <li>Cost Management</li>
                <li>Construction Bid Evaluation</li>
                <li>Earned Value Management</li>
              </ul>
            </div>
            <div class="medium-6 columns listed_service">
              <div class="sevice_list_header">--</div>
              <ul>
                <li>Change Order Reviews</li>
                <li>Schedule Oversight</li>
                <li>Critical Path Method (CPM) Scheduling</li>
                <li>Total Float Management</li>
                <li>Quality Assurance & Control</li>
                <li>Dispute Avoidance and Claims Mitigation</li>
                <li>Performance & Productivity Assessments</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <!-- sub_content -->

    <!-- sub_content: contact us -->
    <div class="sub_content sub_content_contact ho_contact">
      <div class="sub_inner_content sub_inner_content_contact backgrd_shade_dark"></div>
      <div class="sub_content_cover">
        <div class="sub_content_text shade_content_dark contact_us_content">
          <div class="header">Get in touch</div>
          <div class="contact_sub_header">Let us help you begin to develop a strategy that will ultimately lead to the successful conclusion of your project and/or successful resolution of your dispute.</div>
          <div class="content_info">
            <div class="content_info">
              <div>Heng Origen</div>
              <div>Capital Office</div>
              <div>Kemp House</div>
              <div>London</div>
              <div>EC1V 2NX</div>
            </div>
          </div>
          <div>
            <div class="btn_contact"><%= mail_to "info@hengorigen.co.uk", 'info@hengorigen.co.uk', subject: "Client Enquiry", body: "Hi! How may we help?..." %></div>
            <div class="number">+44 (208) 000-5650</div>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <!-- sub_content -->
  </div>
</div>




