<div class="medium-12 columns content_homepg_section">
  <!-- banner_image_content -->
  <div class="img_banner">
    <div class="banner_section_inner">
      <div class="main_inner_content">
        <div class="inner_layer">
          <div class="banner_content">
            <div class="banner_header">Heng Origen</div>
            <div class="banner_minor_header">development managment</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- banner_image_content -->

  <div class="clear"></div>

  <div class="content_main_section">
    <!-- sub_content: our company -->
    <div class="sub_content sub_content_company ho_company ho_company_reponsive">
      <div class="sub_inner_content sub_inner_content_company backgrd_shade_dark"></div>
      <div class="sub_content_cover">
        <div class="sub_content_text shade_content_dark">
          <div class="header">our company</div>
          <div class="content_info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
          <div class="content_info">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi</div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <!-- sub_content -->

    <!-- sub_content: team-members -->
    <div class="sub_content sub_content_team ho_leadership ho_leadership_reponsive">
      <div class="sub_inner_content sub_inner_content_team backgrd_shade_light"></div>
      <div class="sub_content_cover">
        <div class="sub_content_text shade_content_light">
          <div class="header">leadership team</div>
          <div class="content_info">
            <div class="team_members">

              <!-- team_member -->
              <div class="medium-3 columns member_info_conetnt">
                <div class="member_outter_cover">
                  <div class="member_inner_cover">
                    <a href="#" data-reveal-id="team-member-01">
                      <div><%= image_tag("img_team_member_01.png") %></div>
                      <div class="text_info">
                        <div class="title">jonathan ninnis</div>
                        <div class="role">Principal and Chief Operating Officer</div>
                      </div>
                    </a>
                  </div>
                  <div><%= render 'shared/modal_team_member_01' %></div>
                </div>
              </div>

              <!-- team_member -->
              <div class="medium-3 columns member_info_conetnt">
                <div class="member_outter_cover">
                  <div class="member_inner_cover">
                    <a href="#" data-reveal-id="myModal-team-member-02">
                      <div><%= image_tag("img_team_member_02.png") %></div>
                      <div class="text_info">
                        <div class="title">Michael Sci</div>
                        <div class="role">Principal and President</div>
                      </div>
                    </a>
                  </div>
                  <div><%= render 'shared/modal_team_member_02' %></div>
                </div>
              </div>

              <!-- team_member -->
              <div class="medium-3 columns member_info_conetnt">
                <div class="member_outter_cover">
                  <div class="member_inner_cover">
                    <a href="#" data-reveal-id="myModal-team-member-03">
                      <div><%= image_tag("img_team_member_03.png") %></div>
                      <div class="text_info">
                        <div class="title">Jamil Lacourt</div>
                        <div class="role">Principal and Director of Project Management</div>
                      </div>
                    </a>
                  </div>
                  <div><%= render 'shared/modal_team_member_03' %></div>
                </div>
              </div>

              <!-- team_member -->
              <div class="medium-3 columns member_info_conetnt">
                <div class="member_outter_cover">
                  <div class="member_inner_cover">
                    <a href="#" data-reveal-id="myModal-team-member-04">
                      <div><%= image_tag("img_team_member_04.png") %></div>
                      <div class="text_info">
                        <div class="title">James Robinson</div>
                        <div class="role">Principal and Director of Construction</div>
                      </div>
                    </a>
                  </div>
                  <div><%= render 'shared/modal_team_member_04' %></div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <!-- sub_content -->

    <!-- sub_content: portfolio -->
    <div class="sub_content sub_content_project ho_projects ho_projects_reponsive">
      <div class="sub_inner_content sub_inner_content_project backgrd_shade_dark"></div>
      <div class="sub_content_cover">
        <div class="sub_content_text shade_content_dark">
          <div class="header">projects</div>
          <div class="content_info">
            <div class="project_list">

              <!-- project -->
              <div class="medium-4 columns project_info_conetnt">
                <%= link_to all_projects_ferry_lane_walthamston_path do %>
                <div class="img_shade_cover"><%= image_tag("img_project_shade.png") %></div>
                <div class="img_text">
                  <div class="img_title">ferry lane, walthamston</div>
                  <div class="img_text_info">build to rent</div>
                </div>
                <div class="img_cover"><%= image_tag("img_project_01.png") %></div>
                <% end %>
              </div>

              <!-- project -->
              <div class="medium-4 columns project_info_conetnt">
                <%= link_to all_projects_temple_quarter_bristol_path do %>
                <div class="img_shade_cover"><%= image_tag("img_project_shade.png") %></div>
                <div class="img_text">
                  <div class="img_title">temple quarter bristol</div>
                  <div class="img_text_info">build to rent</div>
                </div>
                <div class="img_cover"><%= image_tag("img_project_02.png") %></div>
                <% end %>
              </div>

              <!-- project -->
              <div class="medium-4 columns project_info_conetnt">
                <%= link_to all_projects_vantage_archway_tower_path do %>
                <div class="img_shade_cover"><%= image_tag("img_project_shade.png") %></div>
                <div class="img_text">
                  <div class="img_title">vantage archway tower</div>
                  <div class="img_text_info">build to rent</div>
                </div>
                <div class="img_cover"><%= image_tag("img_project_03.png") %></div>
                <% end %>
              </div>

              <!-- project -->
              <div class="medium-4 columns project_info_conetnt">
                <%= link_to all_projects_east_village_plot_path do %>
                <div class="img_shade_cover"><%= image_tag("img_project_shade.png") %></div>
                <div class="img_text">
                  <div class="img_title">east village plot</div>
                  <div class="img_text_info">build to rent</div>
                </div>
                <div class="img_cover"><%= image_tag("img_project_04.png") %></div>
                <% end %>
              </div>

              <!-- project -->
              <div class="medium-4 columns project_info_conetnt">
                <%= link_to all_projects_miles_street_vauxhaul_path do %>
                <div class="img_shade_cover"><%= image_tag("img_project_shade.png") %></div>
                <div class="img_text">
                  <div class="img_title">miles street vauxhaul</div>
                  <div class="img_text_info">build to rent</div>
                </div>
                <div class="img_cover"><%= image_tag("img_project_05.png") %></div>
                <% end %>
              </div>

              <!-- project -->
              <div class="medium-4 columns project_info_conetnt">
                <%= link_to all_projects_doven_house_street_path do %>
                <div class="img_shade_cover"><%= image_tag("img_project_shade.png") %></div>
                <div class="img_text">
                  <div class="img_title">doven house street</div>
                  <div class="img_text_info">build to rent</div>
                </div>
                <div class="img_cover"><%= image_tag("img_project_06.png") %></div>
                <% end %>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <!-- sub_content -->

    <!-- sub_content: service -->
    <div class="sub_content sub_content_service ho_service ho_service_reponsive">
      <div class="sub_inner_content sub_inner_content_service backgrd_shade_light"></div>
      <div class="sub_content_cover">
        <div class="sub_content_text text_info_content">
          <div class="header">services</div>
          <div class="content_info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
          <div class="services">
            <div class="service_inner_content">
              <div class="service_file"> 
                <%= link_to service_path do %>
                  <span><i class="fa fa-file-pdf-o" aria-hidden="true"></i></span>
                  <span class="file_text">view full service list</span>
                <% end %>
              </div> 
            </div> 
            <div class="sub_header">We classify our services as Development Management and they include:</div>
            <div class="medium-6 columns listed_service">
              <ul>
                <li>Asset acquisition due diligence, scope development and budgeting</li>
                <li>Program management and process development</li>
                <li>Site selection guidance and due diligence</li>
                <li>Leasing support and lease review</li>
                <li>Schedule development and management</li>
                <li>Regulatory approval strategic planning and management</li>
              </ul>
            </div>
            <div class="medium-6 columns listed_service">
              <ul>
                <li>Drawing review and advisement on constructability, logistics, scheduling, and cost</li>
                <li>Construction management and/or general construction services</li>
                <li>Subcontractor bidding and buyout</li>
                <li>Full time on site project management and supervision</li>
                <li>Field coordination and subcontractor oversight</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <!-- sub_content -->

    <!-- sub_content: contact us -->
    <div class="sub_content sub_content_contact ho_contact ho_contact_reponsive">
      <div class="sub_inner_content sub_inner_content_contact backgrd_shade_dark"></div>
      <div class="sub_content_cover">
        <div class="sub_content_text shade_content_dark contact_us_content">
          <div class="header">Get in touch</div>
          <div class="content_info">
            <div>Heng Origen</div>
            <div>Black Bull Yard</div>
            <div>24-28 Hatton Wall</div>
            <div>London</div>
            <div>EC1N 8JH</div>
          </div>
          <div>
            <div class="btn_contact"><%= mail_to "info@hengorigen.com", 'info@hengorigen.com', subject: "Client Enquiry", body: "Hi! How may we help?..." %></div>
            <div class="number">+44 (0) 203 931 0200</div>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <!-- sub_content -->

  </div>
</div>




