<!-- css file: content_page_section.css.scss -->
<div class="medium-12 columns content_page_section">
  <!-- sub_content: portfolio -->
  <div class="sub_content sub_content_project ho_projects ho_projects_reponsive">
    <div class="sub_inner_content sub_inner_content_project backgrd_shade_dark"></div>
    <div class="sub_content_cover">
      <div class="sub_content_text shade_content_dark">
        <div class="header">projects</div>
        <div class="content_info">
          <div class="project_list">

            <!-- project -->
            <div class="medium-4 columns project_info_conetnt">
              <%= link_to all_projects_ferry_lane_walthamston_path do %>
              <div class="img_shade_cover"><%= image_tag("img_project_shade.png") %></div>
              <div class="img_text">
                <div class="img_title">ferry lane, walthamston</div>
                <div class="img_text_info">build to rent</div>
              </div>
              <div class="img_cover"><%= image_tag("img_project_01.png") %></div>
              <% end %>
            </div>

            <!-- project -->
            <div class="medium-4 columns project_info_conetnt">
              <%= link_to all_projects_temple_quarter_bristol_path do %>
              <div class="img_shade_cover"><%= image_tag("img_project_shade.png") %></div>
              <div class="img_text">
                <div class="img_title">temple quarter bristol</div>
                <div class="img_text_info">build to rent</div>
              </div>
              <div class="img_cover"><%= image_tag("img_project_02.png") %></div>
              <% end %>
            </div>

            <!-- project -->
            <div class="medium-4 columns project_info_conetnt">
              <%= link_to all_projects_vantage_archway_tower_path do %>
              <div class="img_shade_cover"><%= image_tag("img_project_shade.png") %></div>
              <div class="img_text">
                <div class="img_title">vantage archway tower</div>
                <div class="img_text_info">build to rent</div>
              </div>
              <div class="img_cover"><%= image_tag("img_project_03.png") %></div>
              <% end %>
            </div>

            <!-- project -->
            <div class="medium-4 columns project_info_conetnt">
              <%= link_to all_projects_east_village_plot_path do %>
              <div class="img_shade_cover"><%= image_tag("img_project_shade.png") %></div>
              <div class="img_text">
                <div class="img_title">east village plot</div>
                <div class="img_text_info">build to rent</div>
              </div>
              <div class="img_cover"><%= image_tag("img_project_04.png") %></div>
              <% end %>
            </div>

            <!-- project -->
            <div class="medium-4 columns project_info_conetnt">
              <%= link_to all_projects_miles_street_vauxhaul_path do %>
              <div class="img_shade_cover"><%= image_tag("img_project_shade.png") %></div>
              <div class="img_text">
                <div class="img_title">miles street vauxhaul</div>
                <div class="img_text_info">build to rent</div>
              </div>
              <div class="img_cover"><%= image_tag("img_project_05.png") %></div>
              <% end %>
            </div>

            <!-- project -->
            <div class="medium-4 columns project_info_conetnt">
              <%= link_to all_projects_doven_house_street_path do %>
              <div class="img_shade_cover"><%= image_tag("img_project_shade.png") %></div>
              <div class="img_text">
                <div class="img_title">doven house street</div>
                <div class="img_text_info">build to rent</div>
              </div>
              <div class="img_cover"><%= image_tag("img_project_06.png") %></div>
              <% end %>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <!-- sub_content -->
</div>